* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font: 10pt menlo, consolas, 'DejaVu Sans Mono', monospace;*/
    font: 11pt sans-serif;
}

textarea {
    font: 9pt menlo, consolas, 'DejaVu Sans Mono', monospace !important;
}

select {
    padding-top: 0.5em !important;
}

select option {
    /* no effect
    margin: 5pt !important;
    line-height: 20pt !important;
    */
}

body {
    width: fit-content;
    overflow-x: hidden;
    /*margin: 1.5em;*/
    margin-left: 2.5em;
    /*margin-top: 2em;*/
}

.m-app {
    gap: 1.5em;
    height: 100vh;
}

.bk-TablerIcon {
    font-size: 21px;
}

.m-view {
    gap: 1.5em;
}

.m-button-row, .m-button-column {
    gap: 0.5em;
}

.m-pair {

    position: relative; /* anchor for .m-number */
    overflow: visible;  /* allow .m-number to spill out */

    gap: 1em;
    
    width: 100%;
}

.m-input, .m-edit {
    width: calc(100vw - 4.5em);
}

textarea.bk-input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    height: fit-content !important;
    white-space: pre;
    /*resize: none;*/
    overflow: visible;
    font: inherit;
    background: #f8f8f8;
}

.bk-Tooltip {
    font: 8pt sans-serif;
    white-space: pre;
    padding: 4px;
    line-height: 10pt;
    box-shadow: 5px 5px 10px lightgrey;
}

.m-markdown {
    max-width: 50em;
}

.m-number {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 1;

    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #888888;
    font: 10pt sans-serif;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 9999px;
}

.m-sliders {
    
    overflow: visible;

    grid-template-columns: max-content 1fr 3em;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    align-items: center;
    margin-top: 1.5rem;

    /* slider label and value readout */
    /* TODO: does nothing */
    * {
        white-space: nowrap;
        font: 11pt sans-serif;
    }

    /*
    --slider-track-color: #cccccc;
    --slider-handle-width: 12px;
    --slider-handle-height: 24px;
    --slider-handle-radius: 4px;
    --slider-handle-border: 1px solid #999999;
    */
}

.m-manipulate {

    width: min-content;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 12px;
    padding-bottom: 20px;

    /* target of manipulate */
    & > :first-child {
        padding: 0.5em;
        background-color: white;
        border: 1px solid #cccccc;
        border-radius: 3px;

    }
}

.m-plot {
    width: min-content;
}


.m-row, .m-grid {

    /* stupid css trick to make the baseline of a plot in a row be its vertical center
       so that it is centered vertically relative to other content.
       TODO: the translate is ugly; look into whether there's a cleaner way to do this. */
    & > .m-plot {
        transform: translateY(-50%);
    }
    & > .m-plot::before {
        display: inline-block;
        content: "";
        width: 0;
        height: 50%; /* baseline = bottom of this inline-block */
    }

    align-items: baseline;
}

.m-grid {
    /* TODO: demo hack - should be controlled by user,
       and everybody should stick to their boxes, but
       that's not currently the case. */
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.m-row {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.m-grid {

    display: grid;
    justify-items: center;
    width: max-content;

    > * {
        /* rows and columns as assigned when elements were generated by layout */
        grid-column: var(--col);
        grid-row: var(--row);
    }
}

